@charset "utf-8";
/* CSS Document */
a[data-tooltip]:link, a[data-tooltip]:visited {
	position: relative;
	text-decoration: none;
	border-bottom: solid 1px;
}

a[data-tooltip]:before {
	content: "";
	position: absolute;
	border-top: 20px solid #0090ff;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	visibility: hidden;
	top: -18px;
	left: -26px;
}

a[data-tooltip]:after {
	content: attr(data-tooltip);
	position: absolute;
	color: white;
	top: -35px;
	left: -26px;
	background: #0090ff;
	padding: 5px 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	white-space: nowrap;
	visibility: hidden;
}

a[data-tooltip]:hover:before, a[data-tooltip]:hover:after {
	visibility: visible;
	-moz-transition: visibility 0s linear .3s;
}


